<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <h4>Programming Languages</h4>
          <ul>
            <% for (var i = 0; i < languages.length ; i++) { %>
              <li><%= languages[i] %></li>
            <% } %>
          </ul>
        </div>
        <div class="col-md">
          <h4>Infrastructure as Code</h4>
          <ul>
            <% for (var i = 0; i < iac.length ; i++) { %>
              <li><%= iac[i] %></li>
            <% } %>
          </ul>
        </div>
        <div class="col-md">
          <h4>CI/CD</h4>
          <ul>
            <% for (var i = 0; i < cicd.length ; i++) { %>
              <li><%= cicd[i] %></li>
            <% } %>
          </ul>
        </div>
        <div class="col-md">
          <h4>Other Skills</h4>
          <ul>
            <% for (var i = 0; i < other.length ; i++) { %>
              <li><%= other[i] %></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>